/* ===== Footer classes ===== */
.page__footer-info {
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI" , "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 0.6875em;
}